.content {
    text-align: center;
}

.levels {
    margin-left: 10px;
}

#level {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    width: 280px;
    height: 130px;
    margin: auto auto auto auto;
    text-align: left;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 1px solid rgba(180, 180, 180, 1);
    z-index: 2;
}

#submit-button button {
    position: absolute;
    bottom: 10px;
    right: 25%;
    left: 25%;
    width: 50%;
    padding: 10px;
}

#game {
    position: fixed;
    top: 20%;
    left: 0;
    right: 0;
    width: 300px;
    height: 150px;
    margin: auto auto auto auto;
    border-radius: 10px;
    z-index: 1;
}