#info-bar {
    width: 400px;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
}

#timer {
    display: inline-block;
    float: left;
    width: 30%;
}

#pause {
    display: inline-block;
    width: 40%;
}

#score {
    display: inline-block;
    float: right;
    width: 30%;
}

#game {
    height: 600px;
    width: 400px;
    border: 1px solid black;
}