.content {
    text-align: center;
    width: 100%;
}

#game {
    height: 600px;
    width: 400px;
    border: 1px solid black;
}

#info-bar {
    width: 400px;
    border: 1px solid black;
    border-bottom: 0;
    text-align: center;
}

#timer {
    display: inline-block;
    float: left;
    width: 35%;
}

#pause {
    display: inline-block;
    width: 30%;
}

#score {
    display: inline-block;
    float: right;
    width: 35%;
}

.popup {
    position: fixed;
    top: 30%;
/*    margin: 30% auto auto auto;*/
    width: 300px;
    height: 200px;
    background-color: 
}